<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>

   
  
  <p>
    <p>Voici la page du potin n°<%=index%></p>
   Son auteur : <%= gossip_find.author %><br/>
    Le contenu du potin : <%= gossip_find.content %></a>
  </p>

  <p><a href="/">Retour à la page des potins</a> </p>

    </body>
</html>
